body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    align-items: center;
    background-color: lightgray;
}

textarea {
    border: none;
    resize: none;
    color: #000000;
}

.jumbotron {
    color: white;
    background-image: linear-gradient(to right, lightblue, darkblue);
    width: 99.3%;
    height: 70px;
    text-align: center;
    border-radius: 5px;
    padding: 1px 0 0 0;
}

.divide {
    display: flex;
}

p {
    font-size: 18px;
    font-weight: bolder;
    margin: 0%;
    width: 100%;
    padding: 0 0 0 10px;
}

#searchField {
    background-color: white;
    border: solid darkgray;
    border-width: 1px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    padding: 15px 0 0 20px;
    text-align: start;
    width: 90%;
}

#searchDiv {
    border-color: black;
    border-bottom: solid;
    border-width: 100%;
}

.lSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 25%;
    margin: 10px 30px 0 0;
}

.rSide {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0px;
    width: 75%;
    margin: 0 0 0 5px;
}

#srcBtn {
    border-width: 0;
    background-color: rgb(125, 191, 212);
    text-align: center;
    padding: 15px 0 0 0;
}

.Btn {
    background-color: gray;
    color: white;
    border-radius: 5px;
    width: 96%;
    height: 30px;
    margin: 8px;
    text-align: center;
}

.resultBtn {
    background-color: gray;
    color: white;
    border-radius: 5px;
    width: 96%;
    height: 30px;
    margin: 8px;
    text-align: center;
    padding: 11px 0 0 0;
}

.results {
    background-color: gray;
    border-radius: 5px;
    width: 125px;
    height: 50;
}

#localFcst {
    width: 100%;
    height: 175px;
    border: solid black;
    border-radius: 2px;
    border-width: 1px;
    background-color: lightblue;
    ;
}

#fiveDaybanner {
    width: 100%;
    background-color: transparent;
    padding: 15px 0 15px 2px;
    font-weight: bolder;
}

#fiveDay {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.days {
    width: 17%;
    height: 200px;
    color: white;
    background-color: rgb(56, 56, 66);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}